.heading {
  text-align: center;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: lighter;
  background-color: #76D7C4 ;
  color: aliceblue;
  padding-top: 10px;
  padding-bottom: 10px;
}

.expense_head {
  background-color: #212F3D ;
  color: aliceblue;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: lighter;
}

input, select {
  padding: 10px;
  border-radius: 5px;
  
}

#blue {
  background-color: #3498DB  ;
  color: aliceblue;
  padding: 10px;
  border-color: transparent;
  border-radius: 5px;
}

form {
  text-align: center;
}

h4 {
  font-weight: normal;
  font-size: 20px;
 
}

.delete {
  background-color: #C0392B;
  color: aliceblue;
  border: transparent;
  padding: 10px;
  margin-right: 5px;
}

.edit {
  background-color: yellowgreen;
  color: aliceblue;
  border: transparent;
  padding: 10px;
  padding-right: 25px;
  padding-left: 20px;
  text-align: center;
}